{% extends 'base.html' %}
{% load static %}


{% block css %}
	<style>
		.cart_quantity .cart_quantityy{
			display: flex;
			height: 50px;
		}
		.cart_quantity .cart_quantityy .adet input{
			display: flex;
			height: 50px;
			margin: 0px !important;
			width: 100px;
			margin: 0 10px 0 10px!important;
		}
		
		.inputcount.input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		}

		/* Firefox */
		input[type=number] {
		-moz-appearance: textfield;
		}

	</style>
{% endblock css %}
	

{% block body %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<form method="POST" class="table-responsive cart_info">
				{% csrf_token %}
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td><input type="submit" class="duzenle" value="Düzenle"></td>
						</tr>
					</thead>
					<tbody>
						
						{% for i in shopbasket %}
							<tr>
							<td class="cart_product">
								<a href="{% url 'productDetail' i.product_letter.product.slug %}"><img src="{{ i.product_letter.product.image.url }}" style="width: 100px; height:150px; margin-right:30px" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ i.product_letter.product.title }}</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							
							<td class="cart_price">
								<p>{{ i.product_letter.price }}</p>
								<p>{{ i.product_letter.size }}</p>
							</td>
							<td class="cart_quantity">
								<div class="d-flex cart_quantityy mb-3" style="max-width: 300px">
                                    <button type="button" class="btn btn-warning px-1 py-0 me-2 eksi"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <div class="form-outline adet mt-2">
                                        <input id="form{{ i.id }}" min="0" name="count{{ i.id }}" value="{{ i.count }}" type="number"
                                            class="form-control text-center inputcount"/>
                                    </div>

                                    <button type="button" class="btn btn-warning px-1 ms-2 eksi"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{ i.price_all }}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'cartDelete' i.id %}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{% endfor %}
							
						

					</tbody>
				</table>
			</form>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox">
								<label>Use Coupon Code</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Use Gift Voucher</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimate Shipping & Taxes</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul>
						<a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>$00</span></li>
							<li>Eco Tax <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>₺ {{ toplam }}</span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a class="btn btn-default check_out" href="">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->


{% endblock body %}		


